* {
    font-family: 'Open Sans';
}
body {
    margin: 0px;
}
.calc-container{
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(4, fr);
    border: black solid 1px;
    width:35vh;
    height: 45vh;

}
button {
    background-color: #d8d9db;
    font-size: xx-large;
    font-weight: 400;
}
.calc-header{
    display: flex;
    justify-content: flex-end;
    background-color: black;
    grid-column: span 4;
    align-items: center;
}

.output {
    color: white;
    margin: 10px;
    font-size: xxx-large;
}

.double {
    grid-column: span 2;
}

.triple {
    grid-column: span 3;
}

.operator, .compute{
    color: white;
    background-color: #df974c;
}